ud-mule-event-demo/src/main/mule/read-uriparams-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-uriparams-demoFlow" doc:id="f7db3670-4e14-460f-91f7-0064ddb03ede" >
		<http:listener doc:name="Listener" doc:id="2fba5972-2b82-49c1-94cd-83477072b6d8" config-ref="HTTP_Listener_config" path="read-uri-params/{empID}/{empName}/{empStatus}"/>
		<logger level="INFO" doc:name="Logger" doc:id="d17c8fa6-a565-42da-8314-c7c8950b0e51" message="#[attributes.uriParams.empID]"/>
	</flow>
</mule>
