ud-emp-sapi/src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="7026d966-b807-4d36-8bb2-2e188d244990" basePath="emp-sapi" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="delete-employeeFlow" doc:id="0058363b-86e8-4155-a86b-835f3bbf1518" >
		<http:listener doc:name="Delete Employee Listener" doc:id="7f4558c0-7df2-48b6-93a9-da4cdc74853e" config-ref="HTTP_Listener_config" path="delete-employee/{employeeID}/{employeeName}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="Start Log" doc:id="07fa89bb-8c76-4e3e-a590-9f7ece4adcd2" message="Delete employee flow started"/>
		<db:stored-procedure doc:name="Call Delete Employee Stored procedure" doc:id="7abb11d8-034e-4786-8522-f21cb98d2e92" config-ref="Database_Config" transactionalAction="NOT_SUPPORTED">
			<db:sql ><![CDATA[{call delete_emp(:empID, :empName)}]]></db:sql>
			<db:parameter-types />
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.uriParams.employeeID,
	empName: attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Set response" doc:id="78b1beff-f36b-4dee-85fb-36ea993ca50d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 200,
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="84e437b9-a75c-4c2c-9680-f758eeceec8a" message="Completed delete employee flow "/>
	</flow>
</mule>
