ud-emp-sapi/src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="568fd723-b3e2-471b-b48e-09288ef2e239" >
		<http:listener doc:name="Listener" doc:id="5e224168-784e-4bc0-9a46-bb20990e7b6f" config-ref="HTTP_Listener_config" path="update-employee"/>
		<logger level="INFO" doc:name="Start Log" doc:id="e6a1ca3f-805a-4f15-9ff2-5e73a425b127" message="Started update employee flow"/>
		<db:update doc:name="Update Employee" doc:id="af13ae08-d9cb-45d4-9a7c-15356642d73f" config-ref="Database_Config">
			<db:sql ><![CDATA[update emp set emp_status=:empStatus where emp_id=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empStatus: payload.employee.employeeStatus,
	empID: payload.employee.employeeID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Response" doc:id="eca6be71-0903-48fe-b437-c001cffc2a38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		status: 200,
		message: "success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="c1ad7321-808d-4841-a7c1-08cf0a61b3a9" message="Completed update employee flow"/>
	</flow>
</mule>
